.box {
    height: 50px;
}

.white {
    background-color: white;
}

.red{
    background-color: red;
}

.black{
    background-color: black;
}

.brown{
    background-color: #9a4d01;
}

.skin {
     background-color: #fdcc99;
}

